<div class="top">
    <div class="top-main">
        <div class="container">
            <div class="row col-lg-6">
                <div class="form-fream">
                    <div class="form-area">
                        <p class="form-area-title mb-4">Potepan Shareでまだ体験したことない旅をしよう</p>
                        <a class="btn btn-secondary" href="/users/sign_up">アカウント登録する</a>
                        <a class="btn btn-secondary" href="/users/sign_in">ログインする</a>
                        <%= search_form_for  @q, url: rooms_home_path do |f| %>
 <%= f.label :address_cont, '場所の検索' %>
  <%= f.search_field :address_cont %>
  <%= f.submit '検索', class: "btn" %>
<%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel-area m-5">
            <h1 class="section-title">おすすめのエリア</h1>
            <div class="row">
                  <%= image_tag"https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg" width="100" height="100"%>
                    <div class="shadow"></div>
                </div>

                <div class="panel-item col-lg-lg-3 col-6">
                    <span>大阪</span>
                    <%=  image_tag"https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg" width="100" height="100" %>

                    <div class="shadow"></div>
                </div>

                <div class="panel-item col-lg-lg-3 col-6"><br>
                    <span>京都</span>

                    <div class="shadow"></div>
                </div>

                <div class="panel-item col-lg-lg-3 col-6"><br>
                    <span>札幌</span>

                    <div class="shadow"></div>
                </div>

            </div>
        </div>

    </div>